<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.services.IDesktopService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.project.IProjectService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.target.ITargetService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.services.lookup.target.ITargetLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.target.IItemService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.services.lookup.target.ITargetTypeLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.services.lookup.target.IRiskLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.runner.IRunToolService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.runner.IViewerService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.target.IWIPService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.project.services.lookup.IProjectLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.framework.IUploadFrameworkService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="ar.coop.arena.security.shared.framework.services.lookup.IFrameworkLookupService">
      </proxy>
   </extension>

</plugin>
